/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


/* HEADER */
.main-header {
  display: flex;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 850px;
  width: 150px;
  background: coral;
}

.logo {
  flex-basis: 15%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-basis: 75%;
}

.account {
  flex-basis: 10%;
}

.upgrade {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 1900px;
  height: 100px;
  background: green;
}

/* FOOTER*/
footer {
  display: flex;
  align-items: flex-end;
  height: 100px;
  max-width: 100%;
  background: blue;
}
